* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #212428;
    --text: #c4cfde;
    --hover-text: #3c5ea4;
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

::selection {
    background-color: transparent;
    color: var(--hover-text);
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
}

.pop-contain {
    width: 100%;
    height: 100vh;
    background-color: #000000c0;
    z-index: 999999;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 10px;
}

.pop-contain .popup {
    background-color: #16171b;
    border-radius: 20px;
    padding: 25px;
    position: relative;
}

.pop-contain .popup .close {
    position: absolute;
    top: 5%;
    right: 3%;
}

.pop-contain .popup .close i {
    color: var(--hover-text);
    font-size: 20px;
    cursor: pointer;
}

.pop-contain .popup h2 {
    font-family: var(--primary-font);
    margin: 10px 0;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
}

.pop-contain .popup form {
    width: 100%;
    box-shadow: none;
}

header {
    width: 100%;
    height: 100px;
    background-color: #212428b7;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 999;
}

header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .logo img {
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #3e3e3e;
}

header .logo h2 {
    font-weight: 300;
    font-family: var(--secondary-font);
    color: var(--text);
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}

header .logo h2::before {
    content: ".";
    font-size: 50px;
    color: #1b3e68;
    font-family: var(--primary-font);
    position: absolute;
    top: -38px;
    right: -12px;
}

.navbar {
    display: none;
}

header nav {
    width: 70%;
}

header nav ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    float: right;
}

header nav ul li a {
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: 13px;
}

.active {
    color: var(--hover-text);
}

header .contact {
    width: 10%;
}

header .contact {
    width: 10%;
}

header .contact a {
    background-color: var(--hover-text);
    padding: 15px 30px;
    color: var(--text);
    border-radius: 5px;
}

header .contact a:hover,
.hire-btn a:hover {
    box-shadow: 0px 0px 15px 0px var(--hover-text);
}

main {
    padding: 0 10%;
    margin: 30px 0;
}

/* Hero Section Styling */
section#about {
    display: flex;
    border-bottom: 1px solid #cecece56;
    align-items: center;
    justify-content: space-between;
}

section#about .contents {
    padding-right: 10%;
    padding-top: 5%;
}

.sub-heading {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    line-height: 30px;
}

.highlight {
    color: #1b3e68;
    text-shadow: 0px 0px 3px #ffffff;
}

section#about .contents h1 {
    font-family: var(--secondary-font);
    font-size: 46px;
    font-weight: 600;
    color: #ffffff;
    line-height: 60px;
    margin-bottom: 30px;
}

section#about .contents p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
    padding-right: 30px;
    font-family: var(--secondary-font);
    margin-bottom: 30px;
}

section#about .hero-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#about .hero-bottom .hire-btn a {
    background-color: var(--hover-text);
    padding: 15px 30px;
    color: var(--text);
    border-radius: 5px;
}

section#about .hero-bottom .skills h3 {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 16px;
}

section#about .hero-bottom .skills .tech-logo {
    margin-top: 10px;
}

section#about .hero-bottom .skills .tech-logo i {
    font-size: 28px;
    padding: 10px;
    background-color: #1c1e22;
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 1px 1px 5px #1c1e22,
        -1px -1px 5px #262a2e;
}

section#about .my-image {
    position: relative;
    z-index: 1;
    width: 70%;
}

section#about .my-image img {
    width: 100%;
}

section#about .my-image::before {
    content: "";
    width: 110%;
    height: 70%;
    position: absolute;
    bottom: 5px;
    left: -5%;
    background-color: #1e2024;
    z-index: -1;
    box-shadow: 10px 10px 19px #1c1e22,
        -10px -10px 19px #262a2e;
}

section#about .my-image .follow-links .socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    right: -100px;
}

section#about .my-image .follow-links .socials i {
    width: 40px;
    text-align: center;
    margin-bottom: 5px;
}

/* Services Section Styling */

section {
    padding: 80px 0;
    border-bottom: 1px solid #cecece56;
}

.main-heading {
    font-size: 38px;
    font-weight: 700;
    font-family: var(--secondary-font);
}

.services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.services .service-card {
    width: 32%;
    background-color: #1e2024;
    border-radius: 10px;
    padding: 50px 30px;
    box-shadow: 10px 10px 19px #1c1e22,
        -10px -10px 19px #262a2e;
    padding-right: 0;
    transition: all 0.3s ease-in-out;
}

.services .service-card:hover {
    transform: translateY(-20px);
}

.services .service-card i {
    font-size: 50px;
    color: var(--hover-text);
    margin-bottom: 20px;
}

.services .service-card h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    font-family: var(--primary-font);
    margin-bottom: 20px;
}

.services .service-card p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 28px;
    font-family: var(--primary-font);
    padding-right: 25px;
}


/* portfolio */

.hidden {
    display: none;
}

#filter {
    text-align: center;
    padding: 15px;
}

#filter button {
    border: 0;
    background-color: #333;
    font-family: var(--secondary-font);
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
    padding: 12px 30px;
    margin: 10px;
}

#filter button.active {
    box-shadow: 0px 0px 10px 0px var(--hover-text);
}

#filter button:focus {
    outline: 0;
}

#posts {
    max-width: 1200px;
    margin: 0 auto;
}

#posts .post {
    width: 32%;
    height: 350px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: inline-block;
    background: #1b3e68;
    margin: 5px;
}

#posts .post img {
    position: relative;
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: top;
    opacity: 0.8;
    transition: all 3s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
}

#posts .post:hover img {
    opacity: 0.7;
    object-position: bottom;
}

#posts .post .post-content {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#posts .post .post-content::before,
#posts .post .post-content::after {
    pointer-events: none;
}

#posts .post .post-content,
#posts .post a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: var(--secondary-font);
}

#posts .post a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

#posts .post h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
    font-size: 22px;
}

#posts .post h2,
#posts .post p {
    margin: 0;
}

#posts .post p {
    letter-spacing: 1px;
    font-size: 12px;
    padding: 0 10px 0 0;
    width: 55%;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
    line-height: 18px;
}

#posts .post:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 600px) {

    #posts .post {
        width: 50%;
    }
}

section#testimonial .reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

section#testimonial .reviews .review {
    width: 50%;
    height: 90%;
    background-color: #1e2024;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    margin: 10px;
}

section#testimonial .reviews .review:nth-child(2) {
    transform: translateY(60px);
}

section#testimonial .reviews .review h3 {
    font-family: var(--secondary-font);
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 26px;
}

section#testimonial .reviews .review h4 {
    font-family: var(--secondary-font);
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cecece56;
}

section#testimonial .reviews .review p {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

section#testimonial .reviews .review .stars {
    padding: 15px 20px;
    background-color: #2e2e2e;
    border-radius: 5px;
    color: #f7b31c;
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* blog section styling */

.slider {
    width: 100%;
    margin: 50px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.slick-prev:before {
    content: "〈";
}

.slick-next:before {
    content: "〉";
    color: rgb(255, 255, 255);
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.blog {
    background-color: #1e2024;
    border-radius: 15px;
    overflow: hidden;
    height: 500px;
}

.blog .content {
    padding: 15px;
}

.blog .content h2 {
    margin: 10px 0;
    font-family: var(--secondary-font);
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    line-height: 24px;
}

.content h2:hover {
    color: var(--hover-text);
}

.blog .content p {
    margin: 10px 0;
    font-family: var(--secondary-font);
    font-size: 14px;
    line-height: 22px;
}

.blog .content .date p {
    font-family: var(--secondary-font);
    font-size: 14px;
    color: var(--hover-text);
}

/* contact section styling */

.contact {
    display: flex;
    justify-content: space-between;
}

.contact .info {
    width: 39%;
    border-radius: 10px;
    background-color: #1e2024;
    padding: 30px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

.contact .info h2 {
    margin-bottom: 15px;
    font-family: var(--secondary-font);
    font-size: 22px;
}

.contact .info h3 {
    margin: 10px 0;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 500;
}

.contact .info a {
    margin: 10px 0;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 400;
}

.contact .info a:hover {
    color: var(--hover-text);
}

form {
    width: 59%;
    border-radius: 10px;
    background-color: #1e2024;
    padding: 30px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

form input[type="text"],
form input[type="email"],
textarea {
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    background-color: #191b1e;
    border-radius: 6px;
    border: 2px solid #191b1e;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    color: var(--text);
}

form input[type="text"]:focus,
form input[type="email"]:focus,
textarea:focus {
    border: 2px solid var(--hover-text);
    outline: none;
}

form p {
    margin: 15px 0;
    font-family: var(--secondary-font);
    font-size: 14px;
}

form label {
    font-family: var(--secondary-font);
    font-size: 12px;
    margin-bottom: 15px;
    margin-right: 15px;
}

form input[type="submit"] {
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    /* background-color: #191b1e; */
    border-radius: 6px;
    background-color: #1b3e68;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    border: none;
}

form input[type="submit"]:hover {
    background-color: var(--hover-text);
}

/* footer styling */
footer {
    padding-top: 40px;
    text-align: center;
    background-color: #191b1e;
}

footer img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #3e3e3e;
}

footer h2 {
    font-family: var(--secondary-font);
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.socials i {
    padding: 10px;
    border-radius: 3px;
    background-color: #3e3e3e;
    font-size: 18px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
    margin: auto;
    margin-top: 20px;
}

.copyright p {
    color: #767676;
    font-size: 12px;
    font-family: var(--secondary-font);
}

footer nav {
    width: 70%;
}

footer nav ul {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    float: right;
}

footer nav ul li a {
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: 12px;
    color: #767676;
}

@media screen and (min-width:1660px) {
    section {
        width: 80%;
        margin: auto;
    }

    header {
        padding: 0 10%;
    }
}

@media screen and (min-width:1025px) and (max-width:1280px) {
    header nav ul {
        width: 75%;
    }

    header .contact {
        width: 12%;
        margin-left: 15px;
    }

    section#about .my-image {
        width: 100%;
    }

    section#about .my-image .follow-links .socials {
        top: 22%;
        right: -80px;
    }

    .services .service-card {
        padding: 30px 20px;
    }

    #posts .post {
        margin: 4px;
    }

    section#testimonial .reviews .review {
        padding: 30px;
    }

    .slick-slide.slick-active {
        width: 32% !important;
        margin: 0px 5px;
    }

    .blog {
        height: auto;
    }

    .blog .content h2 {
        font-size: 16px;
    }

}

@media screen and (max-width:1024px) {
    .navbar {
        width: 60%;
        text-align: right;
        font-size: 22px;
        display: block;
    }

    header .contact {
        width: 15%;
    }

    header nav {
        width: 40%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background: #1c1e22;
        padding: 30px;
        right: -100%;
        transition: all 0.5s ease-in-out;
    }

    header nav ul {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul li {
        padding: 15px;
    }

    header nav.open {
        right: 0%;
    }

    section#about .my-image {
        width: 100%;
    }

    section#about .my-image::before {
        bottom: 25%;
    }

    section#about .my-image .follow-links .socials {
        top: 22%;
        right: -80px;
    }

    .services .service-card {
        width: 48%;
        margin-bottom: 40px;
    }

    #posts .post {
        width: 48%;
    }

    section#testimonial .reviews .review {
        padding: 25px;
    }

    .slick-slide.slick-active {
        width: 47% !important;
        margin: 0px;
        margin-bottom: 20px;
        float: right;
    }

    .blog {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    header .contact {
        width: 20%;
    }
    .navbar {
        width: 50%;
    }
    section#about {
        flex-direction: column-reverse;
    }
    section#about .my-image {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
    section#about .my-image::before {
         bottom: 5px; 
    }
    section#about .my-image .follow-links .socials {
        top: 44%;
        right: -90px;
    }
    .services .service-card {
        width: 100%;
        padding: 30px 15px;
    }
    #filter {
        padding: 15px 10px;
    }
    #filter button {
        padding: 12px 20px;
    }
    #posts .post {
        width: 47%;
    }
    section#testimonial .reviews {
        flex-wrap: wrap;
    }
    section#testimonial .reviews .review {
        width: 100%;
        padding: 50px;
    }
    section#testimonial .reviews .review:nth-child(2) {
        transform: translateY(15px);
    }
    .slick-slide.slick-active {
        width: 100% !important;
    }
    .blog .content {
        padding: 30px;
    }
    .contact {
        flex-wrap: wrap;
    }
    .contact .info {
        width: 100%;
        margin-bottom: 30px;
    }
    form {
        width: 100%;
    }  
    footer nav {
        display: none;
    }
    .copyright {
        justify-content: center;
    }      
}

@media screen and (max-width: 630px){
    .navbar {
        width: 36%;
    }
    header .contact {
        width: 22%;
    }
    header .contact a {
        padding: 15px 20px;
    }
    section#about .my-image .follow-links .socials {
        right: -66px;
    }
    #filter button {
        padding: 10px 15px;
    }
    #filter {
        padding: 15px 0px;
    }
}

@media screen and (max-width: 500px){
    header {
        padding: 0 15px;
    }
    header .contact {
        width: 24%;
    }
    .navbar {
        width: 30%;
    }
    section#about .my-image .follow-links .socials {
        right: -60px;
    }
    section#about .hero-bottom .skills .tech-logo i {
        font-size: 25px;
        padding: 6px;
    }
    section#about .content {
        padding-right: 0%;
    }
    section#about .content p{
        padding-right: 0;
    }
    section#about .content h1 {
        font-size: 22px;
        line-height: 42px;
    }
    #filter button {
        padding: 8px;
        font-size: 12px;
        margin: 4px;
    }
    .sub-heading {
        font-size: 14px;
    }
    #posts .post {
        width: 100%;
        margin-bottom: 20px;
    }
    section#testimonial .reviews .review{
        padding: 25px;
    }
    
}
@media screen and (max-width: 430px){
    .navbar {
        width: 25%;
    }
    header .contact {
        width: 25%;
    } 
    header .logo img {
        width: 60px;
    }
    header .logo h2 {
        font-size: 16px;
    }  
    header .contact a {
        padding: 10px;
        margin-left: 5px;
    }
    main {
        padding: 0 8%;
    }
    section#about .my-image .follow-links .socials {
        right: -45px;
        top: 36%;
    }
    section#about .content h1 {
        font-size: 19px;
    }
    .sub-heading {
        font-size: 13px;
        margin-bottom: 10px;
    }
    section#about .content p {
        margin-top: 8px;
        font-size: 15px;
    }
    section#about .hero-bottom .skills .tech-logo i {
        font-size: 22px;
        padding: 5px;
    }        
    section#about .hero-bottom .hire-btn a {
        padding: 14px;
    }
    #filter button{
        margin: 5px;
        padding: 6px;
        font-size: 10px;
    }
    section#testimonial .reviews .review{
        margin: 0;
        padding: 20px;
    }
    header nav {
        width: 50%;
        padding: 30px 12px;
    }
    form label{
        display: block;
        position: relative;
    top: -16px;
    left: 20px;
    margin-bottom: 0px;
    }
}

/* .slick-track{
    width: 90% !important;
    transform: translate3d(0px, 0px, 0px) !important;
}
.slick-slide.slick-current.slick-center{
    width: 100% !important;
} */
.slick-list.draggable{
    padding: 0 !important;
}